@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-top:0px; 
	margin-right: 15px;
	color:black;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-nav{
	margin-left: 550px;
}
.navbar-brand{
	margin-left: 0px;
	color: darkslategray;
	letter-spacing: 0.5px;
}
h2{
	letter-spacing: 0.5px;
	font-family: raleway;
	overflow: hidden;
}
/*navbar*/